.top-bg{
    background-color: #f0f0f0;
}
.office-web-text-logo{
    color: #ffffff;
    background-color: dodgerblue;
    font-weight: 900;
}
.logo-size{
    width: 80%;
    height: 80%;
}
.nav-menu{
    height: 50px;
    background-color: #23abf0;
}
.nav-menu-item{
    line-height: 50px;
    color: #ffffff;
}
.menu-search{
    height: 30px;
    width: 150px;
    position: relative;
    top:10px;
    left: 50px;
}
.slider-bg{
    background-color: #2380DD;
    /*background-image: url("/images/bing-2.png");*/
    height: 450px;
}
.college-introduce-bg{
    background-color: #e1e1e1;
}
.middle-school-bg{
    background-color: #004A6F;
}
.student-works-bg{
    background-color: #718F97;
}
.footer-copy-bg{
    background-color: #4b4b4b;

}
.footer-content{
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 120px;
    color: #ffffff;
}
.right-border{
    border-right-style:solid;
    border-right-width: 1px;
    border-right-color: #ffffff;
    height: 139px;
}
.wechat{
    height: 106px;
    width: 106px;
}
.top-border{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ffffff;
    margin-top: 60px;
    width: 800px;
}
.top-others{
    padding-top: 20px;
    color: #ffffff;

}
.img-op{
    opacity:0.5;
    filter:alpha(opacity=50);
}